
body {
  text-align: center;
  font-family: Helvetica;
}
header, .page-break {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
a {
    font-size: 18px;
    color: white;
}


footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}
.copyright {
    font-size: 11px;

}
